<p class="text-xs-center">Регистрация для получения доступа</p>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group"
       [ngClass]="{'has-error': form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email</label>
    <input
      formControlName="email"
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Введите email"
    >
    <div *ngIf="form.get('email').touched && form.get('email').invalid">
      <span *ngIf="form.get('email').errors.required" class="form-help-text">Обязательное поле</span>
      <span *ngIf="form.get('email').errors.email" class="form-help-text">Неверный формат почты</span>
    </div>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Пароль</label>
    <input
      formControlName="password"
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Введите пароль"
    >
    <div *ngIf="form.get('password').touched && form.get('password').invalid">
      <span *ngIf="form.get('password').errors.required" class="form-help-text">Обязательное поле</span>
      <span *ngIf="form.get('password').errors.minlength"
            class="form-help-text">Парольк должен быть не короче {{ form.get('password').errors.minlength.requiredLength }}
        символов.</span>
    </div>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('name').touched && form.get('name').invalid}"
  >
    <label for="name">Имя</label>
    <input
      formControlName="name"
      type="text"
      class="form-control underlined"
      id="name"
      placeholder="Введите имя"
    >
    <div *ngIf="form.get('name').touched && form.get('name').invalid">
      <span *ngIf="form.get('name').errors.required" class="form-help-text">Обязательное поле</span>
    </div>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('agree').dirty && form.get('agree').invalid}"
  >
    <label for="agree">
      <input
        formControlName="agree"
        class="checkbox"
        id="agree"
        type="checkbox">
      <span>Согласен с правилами</span>
    </label>
    <div *ngIf="form.get('agree').dirty && form.get('agree').invalid">
      <span *ngIf="form.get('agree').errors.required" class="form-help-text">Обязательное поле</span>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Зарегистрироваться</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Уже есть аккаунт?
      <a [routerLink]="['/login']">
        Войти!
      </a>
    </p>
  </div>
</form>
